# Xcode / iOS build artifacts
DerivedData/
build/

# User-specific
**/*.xcuserdata/
**/*.xccheckout
**/*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Misc
*.DS_Store
